/* Global Styles */

body {
    display: flex;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    color: white;
    background-color: #1C1C1E;
}

.left-section {
    width: 50%;
    height: 100%;
    overflow-y: visible;
    position: relative;
}

.right-section {
    width: 50%;
    height: 100%;
    position: fixed;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4 {
    margin: 0;
}

/* Title Page */

.title-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.title-page h1 {
    font-size: 36px;
    font-weight: bold;
    background-image: linear-gradient(to right, transparent 0%, transparent 50%, #FF453A 50%, #FF453A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.title-page h2 {
    font-size: 24px;
    font-weight: normal;
}

/* Education Section */

.education-section {
    margin-bottom: 20px;
    height: 100vh;
}

.education-section h3 {
    font-size: 24px;
    font-weight: bold;
}

.education-section p {
    font-size: 16px;
    line-height: 1.5;
}

/* Projects Section */

.projects-section {
    margin-bottom: 20px;
}

.projects-section h3 {
    font-size: 24px;
    font-weight: bold;
}

.project {
    margin-bottom: 10px;
}

.project h4 {
    font-size: 20px;
    font-weight: bold;
}

.project p {
    font-size: 16px;
    line-height: 1.5;
}

/* Contact Section */

.contact-section {
    margin-bottom: 20px;
}

.contact-section h3 {
    font-size: 24px;
    font-weight: bold;
}

.contact-info {
    margin-top: 10px;
}

.contact-info h4 {
    font-size: 20px;
    font-weight: bold;
}

/* Fixed Window */

.fixed-window {
    text-align: center;
    
}

.fixed-window img {
    max-width: 100%;
    height: auto;
}

